<p><b>Create a new puppy</b></p>

<form action="/puppy" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Breed: <input type="text" name="breed"></p>
  <p><input type="submit" value="Create puppy"></p>
</form>
